<div class="floater">
  <%- Game.includes(:players).order(:id).all.each_with_index do |game, j| %>
    <%-
      engine = GameApi.new(uuid: game.uuid)
      view = engine.view(0)
    %>
    <h1>Game: <%= j %></h1>
    ID: <%= game.uuid %> (<%= game.id %>) <%= view[:state] %><br>
    <%- if view[:winner] %>
      Winner <%= view[:winner] %><br>
    <% end %>
    <table class="table">
      <tr>
        <th><b>Players</b></th>
        <th><b>Player name</b></th>
        <th><b>Tiles</b></th>
      </tr>
      <%- (view[:players] || []).each_with_index do |player, i| %>
        <tr class="<%= player[:name] == view[:current_player] ? 'active' : '' %>">
          <td><%= i %></td>
          <td><%= player[:name] %></td>
          <td>
            <%- (player[:tiles] || []).each do |tile| %>
              <div class="<%= tile[:color] %> tile <%= tile[:pending] ? 'pending' : '' %>">
                <div class="tile-inner" >
                  <%= tile[:value] || '&nbsp;'.html_safe %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div class="floater">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Playing</th>
    </tr>
    <%- User.includes(:games).all.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.games.select {|g| g.winner_id == user.id }.count %></td>
        <td><%= user.games.select {|g| g.winner_id && g.winner_id != user.id }.count %></td>
        <td><%= user.games.select {|g| g.winner_id.nil? }.count %></td>
      </tr>
    <% end %>
  </table>
</div>
